.header-spacer {
    flex: 1 1 auto;
}

.header-icon {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: inherit;
}

mat-card-title {
    color: #FFFFFF;
}

mat-expansion-panel-header {
    background: #666666;
}