<app-loading-modal *ngIf="isLoading"></app-loading-modal>
<app-navigation-panel title={{title}} (downloadResumeEvent)="downloadResume($event)"/>
<app-personal-details [profile]="profile"></app-personal-details>
<mat-accordion>
  <mat-expansion-panel *ngIf="hasAdditionalProfiles">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Additional Profiles
      </mat-panel-title>
    </mat-expansion-panel-header>
      <app-additional-profile *ngFor="let additionalProfile of profile?.additionalProfiles"
        name="{{additionalProfile.name}}" url="{{additionalProfile.url}}">
      </app-additional-profile>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Work experience
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-work-history *ngFor="let workEntry of profile?.workHistory" [entry]="workEntry"></app-work-history>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Education
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-education-entry *ngFor="let educationEntry of profile?.educationHistory" [entry]="educationEntry"></app-education-entry>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="hasCertificates">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Certificates
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-certificate-container [certificates]="profile?.certificates" />
  </mat-expansion-panel>
</mat-accordion>